# Import Libraries

In [1]:
from tweepy import OAuthHandler
from tweepy import API
from tweepy import Cursor
import os
import json
import pandas as pd

In [2]:
'''--- JSON file name which stores all retrieved tweets ---'''
file_name = "tweets.json"

# Consumer API Keys and Access Tokens

In [1]:
consumer_api = "XXXXX"
consumer_api_secret = "XXXXX"
access_token = "XXXXX"
access_token_secret = "XXXXX"

# Extract Tweets from the User Page

In [4]:
def fetch_tweets(twitter_handle):
    
    ''' --- Authorize User and fetch all tweets from the given tweeter-handle ---'''
    auth = OAuthHandler(consumer_api, consumer_api_secret)
    auth.set_access_token(access_token, access_token_secret)
    api = API(auth)
    
    ls = []
    image_count = []
    for status in Cursor(api.user_timeline, screen_name=twitter_handle, tweet_mode="extended").items():
        ls.append(status)
        media = status.entities.get('media',[])
        image_count.append(len(media))
    return ls, image_count

# Write Tweets in JSON File

In [5]:
def write_tweets(tweets, file_name):
    
    '''--- Write all retrieved tweets in a JSON file ---'''
    with open(file_name, "w") as file:
        for tweet in tweets:
            json.dump(tweet._json, file)
            file.write("\n")
        file.close()

In [6]:
def display_tabular(file_name):
    
    ''' --- Parse JSON file and read all tweets ---'''
    t = []
    with open(file_name, 'r') as file:
        for line in file.readlines():
            t.append(json.loads(line))
        file.close()
    return t

# Calling Functions

In [7]:
tweets, image_count = fetch_tweets("@midasIIITD")

In [104]:
write_tweets(tweets, file_name)

In [105]:
tw = display_tabular(file_name)

# Display in Tabular Form

In [128]:
df = pd.DataFrame()
df['created_at'] = list(map(lambda tweet: tweet['created_at'], tw))
df['full_text'] = list(map(lambda tweet: tweet['full_text'], tw))
df['favourites_count'] = list(map(lambda tweet: tweet['favorite_count'], tw))
df['retweet_count'] = list(map(lambda tweet: tweet['retweet_count'], tw))
df['num_images'] = image_count
# df['num_images'] = df.replace(df['num_images']==0,None)

In [131]:
df.columns

Index(['created_at', 'full_text', 'favourites_count', 'retweet_count',
       'num_images'],
      dtype='object')

In [132]:
def replaceZeros(row):
    if(row['num_images']==0):
        return None
    return row['num_images']
df['num_images']=df.apply(replaceZeros,axis=1)
df

,created_at,full_text,favourites_count,retweet_count,num_images
0,Tue Apr 02 04:20:13 +0000 2019,Dear @midasIIITD internship candidates who hav...,7,1,NaN
1,Tue Apr 02 02:44:54 +0000 2019,Looking forward to your paper submission to @I...,4,1,NaN
2,Tue Apr 02 02:35:44 +0000 2019,RT @ngrams: Reproducibility in multimedia rese...,0,7,NaN
3,Mon Apr 01 06:53:08 +0000 2019,Online application for https://t.co/DJFDrQsHZP...,6,1,NaN
4,Sun Mar 31 10:21:24 +0000 2019,RT @ACMMM19: A final reminder of the Reproduci...,0,10,NaN
5,Fri Mar 29 19:43:24 +0000 2019,RT @isarth23: Thanks for the support and help ...,0,2,NaN
6,Fri Mar 29 17:16:40 +0000 2019,"Since SemEval-2019 will be held June 6-7, 2019...",9,1,NaN
7,Fri Mar 29 17:04:30 +0000 2019,+@aggarwal_kartik.\nCongrats! Wish you many mo...,2,0,NaN
8,Fri Mar 29 17:03:29 +0000 2019,RT @aggarwal_kartik: Our work (@midasIIITD ) a...,0,1,NaN
9,Fri Mar 29 17:02:24 +0000 2019,"Congratulations! @midasIIITD team, @isarth23 @...",9,1,NaN
10,Fri Mar 29 05:35:22 +0000 2019,@EEMLcommunity @radamihalcea too many deadline...,0,0,NaN
11,Thu Mar 28 16:55:01 +0000 2019,RT @stanfordnlp: CS224N Natural Language Proce...,0,697,NaN
12,Thu Mar 28 16:54:37 +0000 2019,RT @ylecun: Learn PyTorch by running on Google...,0,157,NaN
13,Wed Mar 27 16:09:09 +0000 2019,Dr. Vineeth N Balasubramanian will present a T...,4,1,1.0
14,Wed Mar 27 11:53:40 +0000 2019,RT @ylecun: I am extremely honored to be the r...,0,1537,NaN
15,Tue Mar 26 18:12:27 +0000 2019,Thanks to all shortlisted candidates for submi...,5,1,NaN
16,Tue Mar 26 05:54:49 +0000 2019,@IEEEBigMM19 @ACMMM19 and 6 days left for work...,2,0,NaN
17,Tue Mar 26 05:50:10 +0000 2019,RT @IEEEBigMM19: Hurry Up!\n6 Days left for Ab...,0,3,NaN
18,Mon Mar 25 13:01:57 +0000 2019,Congratulations @midasIIITD students Simra Sha...,18,1,1.0
19,Sun Mar 24 18:44:01 +0000 2019,The last date for submitting a solution for th...,8,3,NaN
20,Sun Mar 24 18:26:02 +0000 2019,RT @IIITDelhi: @IIITDelhi invites application ...,0,4,NaN
21,Sun Mar 24 11:34:27 +0000 2019,One more week is left to submit the workshop p...,4,0,NaN
22,Sun Mar 24 06:23:37 +0000 2019,RT @IEEEBigMM19: We are honored to have Dr. Ch...,0,5,NaN
23,Sun Mar 24 06:23:14 +0000 2019,RT @IEEEBigMM19: Distinguished researchers Dr....,0,3,NaN
24,Wed Mar 20 08:19:24 +0000 2019,@IEEEBigMM19 is also available on Facebook now...,1,1,NaN
25,Wed Mar 20 02:40:07 +0000 2019,RT @IEEEBigMM19: BigMM 2019 : IEEE BigMM 2019 ...,0,5,NaN
26,Mon Mar 18 02:27:47 +0000 2019,BigMM 2019 : IEEE BigMM 2019 – Call for Worksh...,6,3,NaN
27,Sun Mar 17 14:22:04 +0000 2019,"Congratulations @midasIIITD team, Rohan, Prady...",15,4,NaN
28,Sat Mar 16 14:06:56 +0000 2019,We have emailed the task details to all shortl...,7,0,NaN
29,Sat Mar 16 09:20:29 +0000 2019,IEEE BigMM 2019 - Call for Workshop Proposals....,2,1,NaN
...,...,...,...,...,...
290,Thu Aug 09 05:59:57 +0000 2018,RT @TensorFlow: TensorFlow 1.10.0 has been rel...,0,265,NaN
291,Wed Aug 08 11:30:56 +0000 2018,@midasIIITD is looking for motivated IIITD MTe...,2,1,NaN
292,Wed Aug 08 05:53:48 +0000 2018,@IIITDelhi @ponguru @RatnRajiv The results of ...,3,1,1.0
293,Wed Aug 08 05:45:58 +0000 2018,RT @IIITDelhi: @midasIIITD has secured rank 1 ...,0,1,NaN
294,Tue Aug 07 07:16:33 +0000 2018,RT @kdnuggets: Comparison of Top 6 Python NLP ...,0,40,1.0
295,Tue Aug 07 02:05:12 +0000 2018,Check more details of the 20th IEEE Internatio...,1,1,NaN
296,Tue Aug 07 01:58:49 +0000 2018,MR2AMC@ISM 2018 will be organized by @RatnRaji...,1,1,NaN
297,Tue Aug 07 01:50:33 +0000 2018,"Our workshop proposal named, ""MR2AMC: Multimod...",1,1,NaN
298,Mon Aug 06 17:48:23 +0000 2018,@NUSComputing Congratulations Abdelhak and Pro...,0,0,NaN
299,Mon Aug 06 17:46:59 +0000 2018,RT @goodfellow_ian: One of the most anticipate...,0,103,1.0
300,Mon Aug 06 06:06:47 +0000 2018,@the_dhumketu Great to have you in @midasIIITD,0,0,NaN
301,Fri Aug 03 05:56:33 +0000 2018,Congratulation @soujanyaporia for being appoin...,6,1,NaN
302,Wed Aug 01 11:47:15 +0000 2018,@IIITDelhi @the_dhumketu Thanks team @midasIII...,5,1,1.0
303,Wed Aug 01 11:20:07 +0000 2018,RT @IIITDelhi: Congratulations @midasIIITD int...,0,4,NaN
304,Wed Aug 01 05:06:47 +0000 2018,RT @learning_pt: Profile of the 5 Indian under...,0,4,NaN
305,Tue Jul 31 12:11:52 +0000 2018,Have a look at the list of accepted papers in ...,1,0,NaN
306,Tue Jul 31 02:06:26 +0000 2018,RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...,0,264,NaN
307,Mon Jul 30 07:30:51 +0000 2018,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...,0,2,NaN
308,Sat Jul 28 11:07:11 +0000 2018,"RT @ylecun: Jitendra Malik, who directs FAIR-M...",0,57,NaN
309,Sat Jul 28 06:14:09 +0000 2018,RT @kdnuggets: .@Bloomberg launches free cours...,0,105,NaN
310,Sat Jul 28 06:13:48 +0000 2018,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...,0,7,NaN
311,Sat Jul 28 04:08:21 +0000 2018,RT @IIITDelhi: We are delighted to announce th...,0,6,NaN
312,Fri Jul 27 06:46:44 +0000 2018,Get ready for the annual technical fest of @II...,3,2,NaN
313,Fri Jul 27 04:07:31 +0000 2018,Congratulations Dr. @RatnRajiv and team @midas...,8,2,NaN
314,Wed Jul 25 05:14:35 +0000 2018,Congratulations MIDAS @midasIIITD intern Prakh...,5,1,NaN
315,Tue Jul 24 10:33:23 +0000 2018,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm,2,1,NaN
316,Tue Jul 24 10:12:34 +0000 2018,It feels great to be the part of @IIITDelhi. h...,2,1,NaN
317,Tue Jul 24 09:46:26 +0000 2018,"Thank you, @toonzratn for designing the logo o...",4,1,1.0
318,Mon Jul 23 16:25:05 +0000 2018,We are on Facebook too. Like our page to get o...,3,1,NaN
319,Mon Jul 23 12:53:15 +0000 2018,MIDAS is a group of researchers at IIIT-Delhi ...,7,4,NaN